{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">ABOUT</h1>
    <form action="/examples/media/action_target.php" method="get">
        제목 : <input type="text" name="st_name"><br>
        내용 : <input type="text" name="st_id"><br>
        글쓴이 : <input type="text" name="department"><br>
        <input type="submit">
    </form>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
{% endblock %}