{% extends 'layout.html' %} 
   
    <!-- {{articles}} -->
    
    
  {% block body %} 

   

    <div class="jumbotron">
        <h1 class="display-4">ARTICLES</h1>
        <table>
          <thead>
            <tr> 
                  <th>ID</th>
                  <th>TITLE</th>
                  <th>AUTHOR</th>
                  <th>DATE</th>
                  <th>EDIT</th>
            </tr>  
          </thead>
          <tbody>
            {% for article in articles %}
            <tr>
              <td>{{article[0]}}</td>
              <td><a href="/article/{{article[0]}}" >{{article[1]}}</td>
              
              <td>{{article[3]}}</td>
              <td>{{article[4]}}</td>
              <td><a class="btn btn-warning " href="/article/{{article[0]}}/edit" role="button">EDIT</a></td>
              <td><a class="btn btn-danger " href="/article/{{article[0]}}/delete" role="button" >DELETE </a></td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
              <tr>
                <th>ID</th>
                <th>TITLE</th>
                
                <th>AUTHOR</th>
                <th>DATE</th>
                <th>EDIT</th>
              </tr>
          </tfoot>
    </table>
        <a class="btn btn-primary btn-lg" href="/add_article" role="button">추가하기</a>
      </div>

  {% endblock %} 


  <!-- onclick="{}=>{return confirm('정말삭제하시겠습니까?')} -->